# Catalog Service

CATALOG_SERVICE_PORT=8083
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=postgres
CATALOG_DB_PASSWORD=postgres
CATALOG_DB_PORT=5432

# User Service

USER_DB_NAME=user_db
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres
USER_DB_PORT=5433

# Cart Service

CART_SERVICE_PORT=8084
CART_REDIS_HOST=localhost
CART_REDIS_PORT=16379
CATALOG_SERVICE_BASE_URL=
